@charset "UTF-8" ;
*{
margin: 0px;
padding: 0px;
font-family: Arial, Helvetica, sans-serif;
} 
header{
    background-image: linear-gradient(to bottom,rgb(0, 0, 0),  rgb(111, 0, 255)); 
    text-align: center;
    color: white;
    padding-top: 5px;
    min-width: 110px;
    font-size: 1.3em;
}
header > h1{
    margin-bottom: 10px;
    font-size: 3.2em;  
}
head > p{
    padding: 50px;
}
nav{
    padding: 10px;
    background-color: black;
    width: 500px;
    margin: auto;
    border-radius: 0px 0px 10px 10px;
    text-align: center;
}
nav > a{ 
    text-decoration: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px;
}
nav a:hover { 
    background-color: white;
    transition: 0.7s;
    color: black;    
}
main{ 
    background-color: white;
    height: 500px;
    margin: auto;
}
section{ 
    background-color: white;
    height: 100%;
    width: 800px;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(253, 253, 253, 0.422);
}
body {
    background-color: rgb(255, 252, 252);
}
footer { 
    background-color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
    font-weight: bold;
    color: white;
}

