@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* { 
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: auto;
    
}
body {
    background-image: linear-gradient( to bottom, #fff,#888888,rgb(0, 0, 0));
    
}

header {
    background-image: url(sabota.capa.png) ;            
    background-size: cover;
    height: 300px; 
    padding: 20px;
    background-repeat: no-repeat;    
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header h1{

    color: rgb(41, 41, 41);
    font-family: "Anton", sans-serif;
    font-weight: normal;
    margin-top: 240px;
    margin-left: 30px;            
}
header nav{ 
    margin-right: 20px;
    font-size: 0.9em;
    text-align: right;
    padding: 10px;           
    font-family: Arial, Helvetica, sans-serif;
}
header #dois{
    margin-top: 10px;
}
header a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 10px;
    padding: 10px;
    font-weight: bold;
}
header a:hover{
    background-color: rgb(243, 243, 243);
    color:  rgb(0, 0, 0);
    border-radius: 20px;
    transition: 0.2s;
    box-shadow: 0px 0px 10px rgb(253, 253, 255);
    text-decoration: underline;

}
main{ 
    background-color: #fff;
    width: 800px;
    margin: auto;
    margin-top: 50px;
    padding: 40px;
    border-radius: 10px;
}


footer{
    font-family: Arial, Helvetica, sans-serif;
    padding: 50px;
    color: white;
    background-color: rgb(0, 0, 0);
    text-align: center;
}

img{
    margin: auto;
    text-align: center;
    display: block;
    margin: 50px;
    border-radius: 20px;
}
img#p {
    top: 4px;
    left: 200px;
    background-color: aliceblue;
    padding: 15px;
    position: absolute;       

}
input#txtp{
    position: absolute;
    top: 60px;
    padding: 11px;
    left: 85px;
    border: none;
    outline: none;
    border-radius: 10px 0px 0px 10px;
    background-color: aliceblue;     
}
.icon{
    margin-left: 25px;
    width: 25px;
    background-color: aliceblue;
    display: inline-block;
    padding: 15px;
}
.icon:hover{
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.444);
    transform: translate(-5px, -5px);
    transition: 0.5s;
}

.card {
    display: inline-table;
    text-align: center;
    background-color: #ffffff;
    width: 180px;
    height: 250px;
    border-radius: 10px;
    box-shadow: 4px 4px 12px #aaaa;
}
.card img {
    margin: auto;
    width: 100%;
    height: 130px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

}

.card div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    height: 50%;

}

.card h1 {
    text-align: center;    
    font-size: 1.2rem;
    }
.card h2 {
    text-align: center; 
    font-size: .9rem;
    color: #aaaa;

}
.card button {
     text-align: center;
    background-color: #0d4e8ba8;
    height: 30px;
    border: none;
    padding: 4px;
    width: 100%;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 4px ;



}

.card button:hover {
    background-color: #137de8;
    cursor: pointer;
}






