@charset "UTF-8";

* { 
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
header {
    background-image: url(sabota.capa.png) ;            
    background-size: cover;
    height: 300px; 
    padding: 20px;
    background-repeat: no-repeat;    
}
header h1{

    color: rgb(41, 41, 41);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 160px;
    margin-left: 30px;            
}
header nav{ 
    margin-right: 20px;
    font-size: 0.9em;
    text-align: right;
    padding: 10px;           
}
header #dois{
    margin-top: 10px;
}
header a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 5px;
    padding: 10px;
    font-weight: bold;
}
header a:hover{
    background-color: rgb(243, 243, 243);
    color:  rgb(0, 0, 0);
    border-radius: 20px;
    transition: 0.2s;
    box-shadow: 0px 0px 10px rgb(253, 253, 255);
    text-decoration: underline;
}
main{ 
    width: 800px;
    margin: auto;
    margin-top: 50px;
    padding: 40px;
}


footer{
    padding: 50px;
    color: white;
    background-color: rgb(0, 0, 0);
    text-align: center;
}
img{
    margin: auto;
    text-align: center;
    display: block;
    margin: 50px;
    border-radius: 20px;
}
img#p {
    top: 4px;
    left: 200px;
    background-color: aliceblue;
    padding: 15px;
    position: absolute;       

}
input#txtp{
    position: absolute;
    top: 60px;
    padding: 11px;
    left: 85px;
    border: none;
    outline: none;
    border-radius: 10px 0px 0px 10px;
    background-color: aliceblue;     
}
.icon{
    margin-left: 25px;
    width: 25px;
    background-color: aliceblue;
    display: inline-block;
    padding: 15px;
}
.icon:hover{
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.444);
    transform: translate(-5px, -5px);
    transition: 0.5s;
}
h3{
    margin-top: 10px;
}

